{% extends 'base.html.twig' %}

{% block body %}
<div class="wizard-navigation">
    <ul>
        <li><a href="#" data-toggle="tab">Étape 1</a></li>
        <li><a href="#" data-toggle="tab">Étape 2</a></li>
        <li class="active"><a href="#" data-toggle="tab">Confirmation</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="row">
        <h4 class="info-text">Vérifiez les informations et réglez votre commande !</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-xs-3 active text-center">Date</th>
                <th class="col-xs-5 active text-center">Billet</th>
                <th class="col-xs-3 active text-center">Tarif</th>
                <th class="col-xs-1 active text-center">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {%  for ticket in tickets %}
            <tr>
                <th class="col-xs-3 text-center">{{ visit|date("d/m/Y") }}</th>
                <td class="col-xs-5 text-center">{{ ticket.firstname }} {{ ticket.lastname }}</td>
                <td class="col-xs-3 text-center">{{ ticket.price|number_format }} €</td>
                <td class="col-xs-1 text-center"><a href="{{ path('remove', {'ticketId': ticket.id, 'id': id }) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th class="col-xs-3 info">&nbsp;</th>
                <td class="col-xs-5 info text-center">Total</td>
                <td class="col-xs-3 info text-center"><strong>{{ amount|number_format }} €</strong></td>
                <td class="col-xs-1 info text-center">&nbsp;</td>
            </tr>
            </tfoot>
        </table>
        <h5 class="text-center">Votre adresse e-mail : <strong>{{ email }}</strong></h5>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <div class="alert alert-danger {{ error ? '' : 'hidden' }}">{{ error }}</div>
    </div>
</div>
<div class="wizard-footer">
    <div class="pull-right">
        <form action="" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ stripe_public_key }}"
                    data-amount="{{ amount * 100 }}"
                    data-name="Billetterie du Louvre"
                    data-description="Paiement sécurisé"
                    data-image="{{ asset('apple-touch-icon.png') }}"
                    data-locale="auto"
                    data-email="{{ email }}"
                    data-label="Régler la commande"
                    data-zip-code="false"
                    data-allow-remember-me="false"
                    data-currency="eur">
            </script>
        </form>
    </div>
    <div class="clearfix"></div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(".stripe-button-el").addClass("btn btn-danger").removeClass("stripe-button-el");
        $("button span").css("min-height", "");
    </script>
{% endblock %}
