{% extends 'base.html.twig' %}

{% block body %}
<div class="wizard-navigation">
    <ul>
        <li><a href="#" data-toggle="tab">Étape 1</a></li>
        <li><a href="#" data-toggle="tab">Étape 2</a></li>
        <li class="active"><a href="#" data-toggle="tab">Confirmation</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="row">
        <h4 class="info-text">Vérifiez les informations et réglez votre commande !</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-xs-3 active text-center">Date</th>
                <th class="col-xs-5 active text-center">Billet</th>
                <th class="col-xs-3 active text-center">Tarif</th>
                <th class="col-xs-1 active text-center">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {%  for ticket in tickets %}
            <tr>
                <th class="col-xs-3 text-center">{{ visit|date("d/m/Y") }}</th>
                <td class="col-xs-5 text-center">{{ ticket.firstname }} {{ ticket.lastname }}</td>
                <td class="col-xs-3 text-center">{{ ticket.price|number_format }} €</td>
                <td class="col-xs-1 text-center"><a href="{{ path('remove', {'ticketId': ticket.id, 'id': id }) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th class="col-xs-3 info">&nbsp;</th>
                <td class="col-xs-5 info text-center">Total</td>
                <td class="col-xs-3 info text-center">{{ amount|number_format }} €</td>
                <td class="col-xs-1 info text-center">&nbsp;</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="wizard-footer">
    <div class="pull-right">
        <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Payer' />
    </div>
    <div class="pull-left">
        <a href="{{ path('order', { 'id': id }) }}" class='btn btn-default'>Ajouter un autre billet</a>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
