{% extends 'base.html.twig' %}

{% block body %}
<div class="wizard-navigation">
    <ul>
        <li class="active"><a href="#" data-toggle="tab">Étape 1</a></li>
        <li><a href="#" data-toggle="tab">Étape 2</a></li>
        <li><a href="#" data-toggle="tab">Confirmation</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h4 class="info-text">Choisissez la date de votre visite et le type de billet. Saisissez ensuite l'adresse e-mail sur laquelle vous souhaitez recevoir les billets.</h4>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="controls">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group label-floating">
                        {{ form_label(form.day) }}
                        {{ form_widget(form.day) }}
                        {{ form_errors(form.day) }}
                    </div>
                    <span id="dispo"></span>
                    <div class="form-group">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="text-center">
                        <div class="alert alert-danger {{ error ? '' : 'hidden' }}">{{ error }}</div>
                    </div>
                    <div class="text-center">
                        {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-danger'}}) }}
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript">
        $('.datepicker').datepicker({
            orientation: 'bottom',
            autoclose: true,
            language: 'fr',
            format: 'dd-mm-yyyy',
            startDate: 'today',
            todayHighlight: true,
            daysOfWeekDisabled: [0,2],
            datesDisabled: ['11/11/2016', '17/04/2017', '01/05/2017', '08/05/2017', '25/05/2017', '14/07/2017', '01/11/2017', '11/11/2017', '25/12/2017', '01/01/2018', '02/04/2018', '10/05/2018', '21/05/2018', '14/07/2018', '15/08/2018', '01/11/2018', '22/04/2019', '01/05/2019', '08/05/2019', '30/05/2019', '10/06/2019', '15/08/2019', '01/11/2019', '11/11/2019', '25/12/2019', '01/01/2020', '13/04/2020', '01/05/2020', '01/05/2020', '21/05/2020', '01/06/2020', '15/08/2020', '11/11/2020', '25/12/2020'],
            endDate: '31/12/2020',
            templates: {
                leftArrow: '<i class="fa fa-chevron-left"></i>',
                rightArrow: '<i class="fa fa-chevron-right"></i>'
            }
        }).on("change", function(){
            $.ajax({
                url: "{{ path('ajax_dispo') }}",
                data: 'day='+($('.datepicker').val()),
                success: function(data) {
                    $('#dispo').html(data+' place(s) disponible(s)'); },
                error: function() {
                    alert('La requête n\'a pas abouti'); }
            });
        }).on("change", function() {
            var d = new Date();
            var month = d.getMonth()+1;
            var day = d.getDate();
            var n = d.getHours();
            var today =
                    ((''+day).length<2 ? '0' : '') + day + '-' +
                    ((''+month).length<2 ? '0' : '') + month + '-' +
                    d.getFullYear();
            var date = $('.datepicker').val();
            if (today == date) {
                if (n >= 14) {
                    $('#index_type option[value="half"]').attr('selected', 'selected');
                    $('#index_type option[value="full"]').attr('disabled', 'disabled');
                }
            } else {
                $('#index_type option[value="full"]').attr('selected', true);
                $('#index_type option[value="full"]').attr('disabled', false);
            }
        });
    </script>
{% endblock %}
