{% extends 'base.html.twig' %}

{% block body %}
<div class="wizard-navigation">
    <ul>
        <li class="active"><a href="#" data-toggle="tab">Étape 1</a></li>
        <li><a href="#" data-toggle="tab">Étape 2</a></li>
        <li><a href="#" data-toggle="tab">Confirmation</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="info-text">Choisissez la date de votre visite et le nombre de visiteurs.</h4>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="controls">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group label-floating">
                        {{ form_label(form.day, 'Date de la visite', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.day, {'attr': {'class': 'datepicker form-control', 'readonly': 'readonly'}}) }}
                        {{ form_errors(form.day) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.type) }}
                        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.type) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.quantity) }}
                        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.quantity) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(form.email, 'Votre adresse e-mail', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': ' form-control'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="text-center">
                        {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-danger'}}) }}
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
