{% extends 'base.html.twig' %}

{% block body %}
<div class="wizard-navigation">
    <ul>
        <li><a href="#" data-toggle="tab">Étape 1</a></li>
        <li class="active"><a href="#" data-toggle="tab">Étape 2</a></li>
        <li><a href="#" data-toggle="tab">Confirmation</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="info-text">Renseignez les informations demandées pour chaque visiteur.</h4>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="controls">
                    <div class="col-md-3">
                        <h3 class="text-center visitor">Visiteur&nbsp;1</h3>
                    </div>
                    <div class="col-md-9">
                        {{ form_start(visitor) }}
                        {{ form_errors(visitor) }}
                        <div class="form-group label-floating">
                            {{ form_label(visitor.firstname) }}
                            {{ form_widget(visitor.firstname) }}
                            {{ form_errors(visitor.firstname) }}
                        </div>
                        <div class="form-group label-floating">
                            {{ form_label(visitor.lastname) }}
                            {{ form_widget(visitor.lastname) }}
                            {{ form_errors(visitor.lastname) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(visitor.country) }}
                        </div>
                        <div class="form-group label-floating">
                            {{ form_label(visitor.birthday) }}
                            {{ form_widget(visitor.birthday) }}
                            {{ form_errors(visitor.birthday) }}
                        </div>
                        <div class="text-center">
                            {{ form_widget(visitor.Valider, {'attr': {'class': 'btn btn-danger'}}) }}
                        </div>
                        {{ form_rest(visitor) }}
                        {{ form_end(visitor) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
