<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Billetterie du Louvre{% endblock %}</title>
    {% block stylesheets %}
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

        <!-- CSS Files -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/material-bootstrap-wizard.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset('assets/js/jquery-2.2.4.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.bootstrap.js') }}"></script>
<script src="{{ asset('assets/js/material-bootstrap-wizard.js') }}"></script>
<script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
